@media only screen and (min-width: 600px){
 
}

@media only screen and (min-width: 768px){
    
}

@media only screen and (min-width: 1200px){
    
}

/* No se como colocar esto de diseño responsivo*/
*{
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}



h3 {
    color: black;
    font-size: 1.563em;
    margin: 0px 800px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

nav{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 20vh;
    top: 0px;
    color: black;
    margin: 0px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    display: flex;
}

.logo {
    width: 10em;
    position: relative;    
    float: left;
}

.menu {
    margin: 0px;
    padding: 10px;
    border: 0px;
    float: right;
    position: relative;
}

.boton_menu {
    margin: 3px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.items a{
    margin: 10px;
    color: black;
}

i{
    margin: 0px; 
    padding: 10px;
}


a:link{color: black;}
.items a:hover{color: #1B9AAA;}
a:active{color: #1B9AAA;}


img{
    width: 60em;
    padding: 10px;
}

.galeria{
    position: relative;
    object-fit: cover;
    padding: 5px;
    width: 100%;
    display: flex;
    overflow: auto;

}

.sección1{
    width: 100%;
    height: 80%;
    margin: 50px auto;
    display: flex;
    align-content: center;
}

.productos{
    width: 100%;
    height: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto{
    border: 2px solid black;
    height: 290px;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.textoproducto{
    padding: 5px;
}

.producto img {
    width: 100%;
    height:185px ;
    width: 280px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}

.textoproducto h6{
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    text-align: left;
}

.textoproducto p{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
}

.titulosec{
    color: #1B9AAA;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.25em;
}

.subtitulosec{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.441em;
    font-weight: bold;
}
.comentariosec{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.vermas{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.titulosec2{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.953em;
}

.seccion3{
    width: 100%;
    height: 80%;
    margin: 0px auto;
    background-color: #8FC1C8;
    display: flex;
    align-content: center;
}

.titulosec3{
    color: #ffffff;
    background-color: #8FC1C8 ;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.25em;
}

.subtitulosec3{
    color: #ffffff;
    background-color: #8FC1C8 ;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.953em;
}

.testimonios{
    width: 100%;
    height: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testimonio{
    border: 2px solid black;
    height: 390px;
    width: 350px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.testimonio img {
    height:100px ;
    width: 100px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}

.textotestimonio img {
    
    height: 25px ;
    width: 100px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}

.textotestimonio p{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-align: justify;
}

.textotestimonio h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    
}