
.container1{
background-color: #F5F5F5;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3,1fr); 
gap: 10px;
padding: 10px;
height: 110vh; 
}

.item1{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
justify-items: center;
justify-content: center;
align-items: center;
align-content: center;
/* grid-area: item1; */
}

.item2{
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 2;
font-size: 30px;
/* grid-area: item2; */
}

.nosotros{
color: #8FC1C8;
}

.item3{
color: #F5F5F5;
background-color: #8FC1C8;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 3;
/* grid-area: item3; */
padding: 10px;
}

.equipo{
color: #F5F5F5;
background-color: #8FC1C8;
text-align: center;
/* grid-area: equipo; */
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 3;
}

.item31{
color: #F5F5F5;
background-color: #8FC1C8;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;
/* grid-area: item31; */
text-align: center;
padding: 10px;
}

.item32{
color: #F5F5F5;
background-color: #8FC1C8;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 4;
/* grid-area: item32; */
text-align: center;
padding: 10px;
}

.item33{
color: #F5F5F5;
background-color: #8FC1C8;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 4;
/* grid-area: item33; */
text-align: center;
padding: 10px;
}

.item34{
color: #F5F5F5;
background-color: #8FC1C8;
grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 3;
grid-row-end: 4;
/* grid-area: item34; */
text-align: center;
padding: 10px;
}

.item4{
    background-color: #F5F5F5;
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-area: item3; */
    padding: 10px;
}

.historia{
/* grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 5; */
grid-area: historia;
text-align: center;
background-color: #F5F5F5;
}

.item41{
/* grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 6; */
grid-area: item41;
background-color: #F5F5F5;
}

.item42{
/* grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 5;
grid-row-end: 6; */
grid-area: item42;
background-color: #F5F5F5;
font-size: 25px;
}

.item43{
/* grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 6;
grid-row-end: 7; */
grid-area: item43;
background-color: #F5F5F5;
font-size: 25px;
}

.item44{
/* grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 6;
grid-row-end: 7; */
grid-area: item44;
background-color: #F5F5F5;
}

dd{
    color: #8FC1C8;
    font-family: 'Share Tech', sans-serif;
}

.footer1{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8; */
grid-area: footer1;
}

.footer2{
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8; */
    grid-area: footer2;
    font-size: 20px;
}

.footer3{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9; */
    grid-area: footer3;
    font-size: 20px;
}

.footer4{
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9; */
    grid-area: footer4;
    font-size: 20px;
}

.footer5{
color: grey;
grid-area: footer5;
}

.footer6{
    grid-area: footer6;
}

button{
height: 70px;
width: 100px;
color: #8FC1C8
cursor pointer;
border-radius: 40px;
background-color: #8FC1C8;
}

p{
font-family: 'Montserrat', sans-serif;
}

h1, h2, h5{
font-family: 'Share Tech', sans-serif;
}

/* .container1 {
    background-color: #F5F5F5;
    display: grid; 
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9,1fr); */ 
    /* gap: 10px;
    padding: 10px; 
    height: auto;
    justify-items: center;
    grid-template-areas:
    'item1 item1 item2 item2'
    '. equipo equipo .'
    'item31 item32 item33 item34'  */
    /* 'historia historia historia historia'
    'item41 item42 item43 item44'
    'footer1 footer1 footer2 footer2'
    'footer3 footer3 footer4 footer4'  */
    /* } */

.container2{
    background-color: #F5F5F5;
    display: grid;
    height: auto;
    justify-items: center;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9,1fr); */
    gap: 10px;
    padding: 10px;
    /* height: 100vh; */
    grid-template-areas:
    /* 'item1 item1 item2 item2'
    'equipo equipo equipo equipo'
    'item31 item32 item33 item34' */
    'historia historia historia historia'
    'item41 item41 item42 item42'
    'item43 item43 item44 item44'
    /* 'footer1 footer1 footer2 footer2'
    'footer3 footer3 footer4 footer4' */

}

.facebook{
    height: 30px;
    width: 30px;
}

.twitter{
    height: 30px;
    width: 30px;
}

.instagram{
    height: 30px;
    width: 30px;
}

.linkedin{
    height: 30px;
    width: 30px;
}

.youtube{
    height: 30px;
    width: 30px;
}

footer{
    background-color: #F5F5F5;
    display: grid;
    grid-template-areas: 
    'footer1 footer2 footer3 footer4'
    'footer5 . . footer6';
}

