/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Share+Tech&display=swap');

/*========== GLOBALES ==========*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
   
}

body{
    margin:0; 
    font-family: 'Montserrat', sans-serif;
    background-color: #FDFBF7;
    color: #0000;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h5{
    font-family: 'Share Tech', sans-serif;
}


img{
    max-width: 100%;
}

/* HEADER */

nav{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20vh;
    top: 0px;
    color: black;
    margin: 0px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.nav{
    margin: 0px;
    padding: 10px;
    border: 0px;
    float: right;
    position: relative;
}

i{
    margin: 0px; 
    padding: 10px;
    font-size: 24px;
}

i:hover{
    color: #8FC1C8;
}

header{
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.nav img{
    width: 100px;
    display: inline-flex;
    float: left;
    margin-right: 10em;
    margin-left: 0;
}

.menu_list{
    margin-top: 20px;
    justify-items: center;
}

.list-item{
    display: inline-block;
    list-style: none;;
}

li .link{
    padding-left: 20px;
    padding-right: 20px;
}

.link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;

}

.link::after{
    content:"";
    width: 0;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;

}

.link:hover::after{
    width: 100%;
    right: 0
}

.boton_menu{
    font-size: 14px;
    border: 1px solid black;
    color: black;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
}

.boton_menu:hover{
    background-color: #1B9AAA;
    border: 1px solid #1B9AAA;
    border-radius: 50px;
    color: #fff;
    transition: all .5s;
}


/* MAIN PRODUCTOS */

.containers-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px;
}

.container-item{
    border-radius: 10px;
    text-align: center;
    transition: all .5s;
    margin: 10px 0  10px 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.container-item img{
    min-width: 250px;
    min-height: 250px;
    max-width: 350px;
    max-height: 300px;
    object-fit: cover; /*adapta la imagen y lo centra*/
    border-radius: 10px;
}

.container-item:hover{
    transform: scale(1.1);
}

.info-producto{
    line-height: 1; /*iterlineado*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.producto-precio{
    font-size: 18px;
    font-weight: 900;
    color: #1B9AAA;
    text-align: center;
    
}

.producto-description{
    font-size: 14px;
    color: black;
    font-weight: 500;
    min-height: 50px;
}

.producto-name{
    font-size: 20px;
    color: black;
    text-align: center;
    padding-left: 15px;
    margin-top: 10px;
    min-height: 30px;
}

.info-producto .btn-ver-mas{
    border: none;
    background: none;
    border: 1px solid black;
    color: black;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.info-producto .btn-ver-mas:hover{
    background-color: #1B9AAA;
    border: 1px solid #1B9AAA;
    border-radius: 50px;
    color: #fff;
    transition: all .5s;
}

.section-title{
    color: black;
    margin: 15px
}

.section-subtitle{
    font-family: 'Share Tech', sans-serif;
    color: #1B9AAA;
}


.banner-crear-kit{
    width: 100%;
    background-color: #8FC1C8;
    color: black;
    text-align: center;
    padding: 50px;
}


.container-titulos{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/* SECCIÓN BANNER PRODUCTOS */

.seccion-banner{
    padding: 100px;
    background-color: #8FC1C8;
}

.banner__subtitle{
    font-family: 'Share Tech', sans-serif;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.banner__title{
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

.seccion-banner a{
    border: #FFF solid 1px;
    color: #fff;
}

.seccion-banner a:hover{
    border: #FFF solid 1px;
    color: #000;
    background-color: #FFF;
    transition: all .5s;

}


/* MAIN SOBRE NOSOTROS */

.sobreNosotros{
    color: #000000;
    padding: 100px;
    text-align: center;
    justify-content: center;
}

.container-sobreNosotros{
    display: flex;
    width: 100%;
    height: 500px;
}

.imagen-sobreNosotros{
    margin-top: 5em;
    margin-left: 7.5em;
    background-color: #fff;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow: 0px 4px 4px 0px #8FC1C8;
}

.imagen-sobreNosotros img{
    width: 250px;
    text-align: center;
    margin-top: 6em;
}

.titulo-nosotros{
    color: #1B9AAA;
    font-family: 'Share Tech', sans-serif;
    text-align: start;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.texto-sobre-nosotros{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    color: #000000;
    width: 600px;
    display: flex;
    float: right;
}

.container-texto-sobreNosotros{
    margin-left: 15em;
    margin-top: 10em;
}

.seccion-equipo{
    background-color: #8FC1C8;
    color: #fff;
    text-align: center;
    padding: 100px;
    width: 100%;
}

.pretitulo-equipo{
    color: #FFF;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    font-family: 'Share Tech', sans-serif;
}

.titulo-equipo{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 1.5em;
}

.containers-equipo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container-equipo{
    margin: 10px;
    padding: 10px;
}

.titulo-container-equipo{
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}

.subtitulo-container-equipo{
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.descripcion-equipo{
    color: #FFF;
    text-align: justify;
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 280px;
}


.seccion-historia{
    padding: 100px;
    text-align: center;
    background-color: #FDFBF7;
    height: 70em;
}

.pretitulo-historia{
    color: #1B9AAA;
    text-align: center;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.titulo-historia{
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}


.container1-historia{
    display: flex;
    float: left;
}

.container1-historia img{
    margin-right: 2em;
    margin-bottom: 2em;

}

.container1-texto-historia{
    width: 587px;
    height: 259px;
    color: #000;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container2-historia{
    display: flex;
    float: right;
}


.container2-historia img{
    margin-left: 2em;
    margin-bottom: 2em;
}


.container2-historia .container2-texto-historia{
    width: 600px;
    height: 279px;
    color: #000;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


    
/*FOOTER*/

footer{
    background-color: #FFF;
    padding: 100px;
    height: 500px;
    width: 100%;
}

.seccion-superior-footer{
    color: #8FC1C8;
    text-align: center;
}

.seccion-superior-footer img{
    width: 200px;
    display: inline-flex;
    float: left;
}

.texto-footer{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    position: absolute;
    margin-top: 10em;
}

hr{
    background-color: #D9D9D9;
    margin-top: 5em;
}

.footer-links{
    color: #D9D9D9; 
}

.footer-links ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 10px;
}

.footer-links a{
    color: #1B9AAA; 
}

.footer-links p{
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 10px;
}

.container-nav-footer{
    display: flex;
    color: #1B9AAA;
    padding-left: 30em;
}

.container-nav-footer ul{
    list-style: none;
    padding: 10px;
    font-size: 16px;
}


.container-nav-footer li{
    margin: 10px;
}


.container-nav-footer a{
    text-decoration: none;
    color: #8FC1C8;
    text-align: center;
    font-weight: 400;
    line-height: normal;
}

.container-nav-footer a:hover{
    color: #1B9AAA;
    transition: all .5s;
}


.container-nav-footer h3{
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #1B9AAA;
    font-style: normal;
}

.footer-nav{
    width: 300px;
}

.button_suscribir{
    background: none;
    background-color: #1B9AAA;
    display: flex;
    width: 149px;
    height: 66px;
    padding: 24px 36px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 50px;
    color: #FFF;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

form{
    display: flex;
    position: absolute;
    flex-direction: column;
}


.button_suscribir:hover{
    color: #1B9AAA;
    background-color: #FFF;
    border: #1B9AAA solid 1px;
    transition: all .5s;
}

form input{
    border: none;
    padding: 24px;
    outline: none;
    color: #9795B5;
    border-radius: 50px;
    display: flex;
    width: 419px;
    height: 66px;
    gap: 240px;
    background-color: #F5F5F5;
    text-align: start;
    margin-bottom: 2em;
}

::placeholder{
    color: #9795B5;
    padding-left: 20px;
    text-align: start;
}

.form-suscribir{
    display: flex;
}



/* MAIN HOME */

.producto img{
    width: 60em;
    padding: 10px;
}

.galeria{
    position: relative;
    object-fit: cover;
    padding: 5px;
    width: 100%;
    display: flex;
    overflow: auto;

}

.sección1{
    width: 100%;
    height: 80%;
    margin: 50px auto;
    display: flex;
    align-content: center;
}

.productos{
    width: 100%;
    height: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto{
    height: 290px;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
    

.textoproducto{
    padding: 5px;
}
    
.producto img {
    width: 100%;
    height:185px ;
    width: 280px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}
    
.textoproducto h6{
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    text-align: left;
}
    
.textoproducto p{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
}
    
.titulosec{
    color: #1B9AAA;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.25em;
    padding-top: 4em;
}
    
.subtitulosec{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: normal;

}
.comentariosec{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-top: 2em;
}

.seccion2 .comentariosec{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 2em;
}

.boton_crearkit{
    width: 316px;
    height: 62px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vermas{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    font-style: normal;
}

.vermas:hover{
    color: #1B9AAA;
    transition: all .5s;
}
    
.titulosec2{
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: normal;
    font-style: normal;
    padding: 10px;
}

.seccion2{
    text-align: center;
    margin: 100px;
    color: #000;
}
.seccion-testimonio{
    background-color: #8FC1C8;
    padding: 100px;
}

.seccion3{
    width: 100%;
    height: 80%;
    margin: 0px auto;
    display: flex;
    align-content: center;
}
    
.titulosec3{
    color: #ffffff;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
}
    
.subtitulosec3{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: normal;
    font-weight: 600;
    padding-bottom: 20px;
}
    
.testimonios{
    width: 100%;
    height: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    
.testimonio{
    height: 390px;
    width: 350px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}
    
.testimonio img {
    height:100px ;
    width: 100px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}
    
.textotestimonio img {
    height: 25px ;
    width: 100px;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}
    
.textotestimonio p{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
    padding: 10px;
}
    
.textotestimonio h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
        
}

    /* MEDIA QUERIES RESPONSIVE */

    @media only screen and (min-width: 600px){
 
    }
    
    @media only screen and (min-width: 768px){
        
    }
    
    @media only screen and (min-width: 1200px){
        
    }
